<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }}</title>
  <meta name="description" content="{{ meta_description }}">
  <!--    <script src="bootstrap/dist/js/bootstrap"></script>-->
  <link rel="shortcut icon" href="assets/img/favicon.svg" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/swiper/swiper-bundle.min.css">
  <link rel="stylesheet" type="text/css" href="assets/css/main.min.css">


  <script defer src="assets/libs/jquery.js"></script>
  <script defer src="assets/libs/jquery-ui.js"></script>
  <script defer src="assets/libs/jquery-ui-touch.js"></script>
  <script defer src="assets/libs/aos.js"></script>
  <script defer src="assets/js/app.js"></script>




</head>

<body {% if bodyClass %}class="{{ bodyClass }}" {% endif %} id="body">
  {% include "html/includes/header.html" %}

  <main>
    {% block content %}{% endblock %}
  </main>
  {% include "html/includes/footer.html" %}

  <div class="catalog-mobile__container container" id="catalog-drop-mob" data-drop>
    <div class="catalog-mobile__position">
      <div class="catalog-mobile__container-box">


        <button class="button catalog-mobile__logo-close" id="close-mob">
          <img src="assets/img/close.svg">
        </button>

        <div class="catalog-mobile__navigation">
          <a class="catalog-mobile__menu-link" href="https://kadaver.site/">Главная</a>
          <a class="catalog-mobile__menu-link" href="https://care-passing.kadaver.site/">Прохождение</a>
          <a class="catalog-mobile__menu-link" href="/care-instruction.html">Инструкции</a>
          <a class="catalog-mobile__menu-link" href="https://care-simulator.kadaver.site/">Симулятор</a>



        </div>

      </div>
    </div>
  </div>


</body>

</html>